.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: aliceblue;
    border-radius: .5rem;
    padding: 30px;
    margin: 0 auto;
}

.vehiclePreview {
    padding-left: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*border-style: groove;*/
}

.VehicleImg {
    /* border-style:groove;*/
    padding-left: 10px;
}

img {
    width: 80%;
    border-radius: .5rem;
    filter: drop-shadow(grey .8rem .5rem 4px);
}

.col {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

dt {
    width: 150px;
}

dd {
    width: 450px;
}
